<h1>WHO HAD TO DO IT</h1>

 
<table>
  <tr>
    <th>Problems</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr> 
      <td>
        <div class = "article_title">
          <%= "Who gotta #{article.title}?" %>
        </div>
        <div class = "article_text">
          <%= "#{article.text}" %>
        </div>
        <div class = "article_timestamp">
          <%= "#{article.created_at.strftime("%d/%m.%Y %H:%M")}" %>
        </div>
      </td>
      
    </tr>
  <% end %>
</table>

<div class = "my_links">
<%= link_to "New problem?", new_article_path %>
</div>

