<h1>WHO HAD TO DO IT</h1>
 
<table>
  <tr>
    <th>Problem</th>
    <th>Solution</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= "Who gotta #{article.title} ?" %></td>
      <td><%= "#{article.text} gotta #{article.title}" %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New problem?", new_article_path %>