<h1>WHO HAD TO DO IT</h1>

 
<table>
  <tr>
    <th>Problem</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr> 
      <td>
        <div class = "article_title">
          <%= "Who gotta #{article.title} ?" %>
        </div>
        <div class = "article_text">
          <%= "#{article.text}" %>
        </div>
      </td>
      
    </tr>
  <% end %>
</table>

<%= link_to "New problem?", new_article_path %>
<%= link_to "Home page", root_path %>