<p>
  <strong>Problem:</strong>
  <%= "Who gotta #{@article.title} ?" %>
</p>
 
<p>
  <strong>Solution:</strong>
  <%= "#{@article.text} gotta #{@article.title}" %>




</p>

<%= link_to "Previous problems", articles_path %>