
<!DOCTYPE html>
<html>
	<body>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<head>
		  <title>HerokuApp</title>
		  

		</head>



		<header>
			<%= image_tag "newPinke.png" %>
		</header>
		<h1> WWALLaA </h1>
		
		<%= link_to "New comment", new_article_path %>

		<h2> Yalla </h2>
		<footer>
			Wat
		</footer>

		<%= yield %>

	</body>
</html>

