
<!DOCTYPE html>
<html>
	<body>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<head>
		  <title>HerokuApp</title>
		  

		</head>



		<header>
			<%= image_tag "newPinke.png" %>
		</header>
		
		
		<%= link_to "WHO GOTTA DO IT!", new_article_path %>


		<%= yield %>

	</body>
</html>

