<!DOCTYPE html>
<html>
	<body>
		<head>
		  <title>HerokuApp</title>
		  <%= stylesheet_link_tag    "sitewide", :media => "all" %>

		</head>



		<header>
			<%= image_tag "newPinke.png" %>
		</header>
		<h1> WWALLaA </h1>

		<h2> Yalla </h2>
		<footer>
			Wat
		</footer>

	</body>




